/* Contact.css */

.contact-container {
  width: 100%;
  margin: 5px ;
  padding: 40px;
  background-color: #0C3A3A;
}

.contact-title {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-title::after {
  content: '';
  display: block;
  width: 8%;
  height: 8px;
  background-color: #83FFFF;
  margin: 10px auto 0;
}

.contact-details {
  width: 30%; 
  padding: 20px;
  background-color: #a6b2b9;
  border-radius: 0px;
  margin: 0;

}

.content {
  display: flex;
  gap: 0px;
}

.contact-form {
  width: 60%;
  padding: 20px;
  border-radius: 0px;
  background-color: transparent;
  margin: 0px;
}

.form-group {
  margin-bottom: 20px;
}

input,
.textareas {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  background-color: #e0e0e0;
}

.contact-button {
  width: 30%;
  padding: 12px;
  font-size: 18px;
  background-color: #00695c;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #004d40;
}


.contact-item {
  display: flex;
  align-items: center;
  margin: 0;
}

.contact-image {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.contact-message {
  font-size: 16px;
  color: #004d40;
}

.color-email {
  color: #00796b;
  font-weight: bold;
}

.footer {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}
