.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.forgot-password-box {
    width: 400px;
    padding: 2rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forgot-password-box h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.control-form {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 30px; /* Increased border-radius */
    outline: none;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* Reflection-like shadow for the input fields */
    position: relative; /* Needed for the shadow effect */
}

.reset-password-button {
    width: 40%;
    padding: 15px;
    border: none;
    border-radius: 30px; /* Increased border-radius */
    background-color: #004b43;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5));
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6); /* Reflection-like shadow for the button */
}

.reset-password-button:hover {
    background-color: #0056b3;
}
