.headerx {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

<<<<<<<< HEAD:src/screens/ADMIN/Adminstyles/addTechnicianStyles.css
.container {
    background-color: #f5f5f5; /* light grey background */
    padding: 20px;
========
.con {
    background-color: #f5f5f5;
    padding: 40px;
>>>>>>>> 53608eed24e06bb16db5802281ce8dd426e9c4d9:src/screens/Admin/AdminStyle/addTechnicianStyles.css
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
    justify-content: center;
    width: 80%; /* Set width to crop the content */
    max-width: 900px; /* Maximum width */
    height: 80vh; /* Full height */
    margin: 0 auto; /* Center the container horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto; /* Centers content */
    margin-right: auto; /* Centers content */
    text-align: center; /* Center text inside the container */
}

.btn-cancel {
    background-color: #b81c1c;
    color: white;
    border: none;
    padding: 10px 20px;
    float: left;
}

.btn-success {
    background-color: #29a145de;
    color: white;
    border: none;
    padding: 10px 20px;
    float: right;
}

.form-label {
    font-weight: bold;
}

.password-section {
    display: flex;
    align-items: center;
}

.password-section input {
    margin-right: 10px;
}

.btn-generate {
    background-color: #3df847;
    color: white;
    border: none;
}

.availability-sectionx {
    display: flex;
    gap: 10px;
}

/* Icon styling */
.iconx {
    width: 70px;
    height: 70px;
    margin-right: 5px;
}

/* Header title styling */
.headerx-title {
    display: flex;
    align-items: center;
    font-family: 'Istok Web', sans-serif;
    font-size: 28px;
    color: #333333;
    margin: 0;
    font-weight: 700;
}