* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #fff;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../Images/homeBackGround.jpg'); 
    background-size: cover;
    background-position: center;
  }
  
  .hero-content {
    text-align: start;
    color: white;
    margin-top: 50px;
  }
  
  .first-title p {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
  }
  
  .second-title p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #f5f5f5;
  }
  
  .home-button {
    margin-top: 30px;
  }
  
  .start-button {
    width: 20%;
    padding: 15px;
    font-size: 1.2em;
    background-color: #83FFFF;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .start-button:hover {
    background-color: #00939a;
  }
  
  /* .home-container {
    background-image: url('./homeBackGround.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white; 
  }
  .first-tittle {
    text-align: left;
    font-size: 100px;
    padding-left:200px;
  }
  .second-tittle {
    text-align: left;
    font-size: 50px;
    padding-left:200px;
  }
  .start-button{
    width: 150px;
    border-radius: 8px;
    border: none;
  
  }
  .home-button{
    padding-right:1225px;
  } */