/*.report-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f9fa;
  }
  
  .report-content {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
    background-size: cover;
    height: 24px;
    width: 24px;
  }

  .report-section {
    display: flex;
    justify-content: space-between;
  }
  
  .report-types {
    width: 48%;
  }
  
  .report-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f4f9fa;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  report-btn:hover{
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .report-btn.active {
    background-color: #21937d;
    color: white;
  }

  .chevron-icon {
    font-size: 16px;
  }
  
  .report-preview {
    width: 48%;
  }
  
  .preview-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .preview-icon {
    margin-right: 8px;
    font-size: 16px;
  }
  
  .preview-box {
    width: 100%;
    height: 150px;
    background-color: #eaf5f4;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .date-range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .date-field {
    width: 48%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .date-field label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666666;
  }
  
  .date-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }

  .date-field:hover{
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .report-actions {
    display: flex;
    justify-content: space-between;
    margin-top:20px;
  }
  
  .cancel-btn {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .cancel-btn:hover{
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  }

  .generate-btn{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .generate-btn:hover {
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  }
    */