/* Ensure container styles for alignment */
.container {
  max-width: 50%;
  padding: 0 15px;
}

/* Header styles */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

/* Notification icon styles */
.notification-icons {
  font-size: 1.5rem;
  margin-right:10px;
  color: #767d85; /* Adjust color if needed */
}

/* Search bar styles */
.search-bar-containers {
  position: relative;
}

.search-inputs {
  padding-left: 2rem; /* Space for the search icon */
}

.search-icons {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

/* Filter and sort styles */
.filter-sorts-containers {
  display: flex;
  align-items: center;
}

.btn-light {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
}

.btn-light:hover {
  background-color: #97978F;
}

.ms-2 {
  margin-left: 0.5rem;
}

.me-2 {
  margin-right: 0.5rem;
}

/* Tabs styles */
.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  border:none;
}

.nav-tabs .nav-link.active {
  box-shadow:none;
}

/* Notification list styles */
.list-group {
  margin-top: 1rem;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  font-family: Arial, sans-serif; /* Set font to Arial */
  font-weight: normal; /* Ensure font is not bold */
}

.notification-contents {
  flex: 1;
  margin-left: 1rem; /* Space between icon and text */
}

.notification-timestamps {
  text-align: right; /* Right align the timestamp */
  font-size: 0.9rem;
  color:#495057 /* Smaller font for timestamps */
}
.indent{
  display: inline-block;
  margin-left: 1.5rem;
}

.list-group-item p {
  margin: 0;
}

/* Offcanvas styles */
.offcanvas {
  width: 300px; /* Adjust width if necessary */
}

.notification-rows:hover {
  background-color: #f8f9fa; /* Light background on hover */
}
.notification-rows {
  cursor: pointer; /* Changes cursor to pointer for better UX */
}

.table-borderless {
  border: none;
}

