.sidebar {
  width: 210px;
  background-color: #0C3A3A;
  color: white;
position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  z-index: 1000;   /* Ensures it sits above other content */
  
}

.sidebar.closed {
  width: 60px;
}

.menu-icon {
  padding: 20px;
  cursor: pointer;
}

.menu-icon:hover {
  color: #6ff1f1;
  cursor: pointer;
}

/* Links for the navigation */
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px; /* Add space from the top */
}

.sidebar-nav li {
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-nav li:hover {
  background-color: #108484;
}

/* Menu links styling */
.menu-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  width: 100%;
}

.menu-link i {
  font-size: 18px;
}

.menu-text {
  margin-left: 10px;
  display: inline-block;
  transition: opacity 0.3s;
}

.sidebar.closed .menu-text {
  opacity: 0;
  visibility: hidden;
}

.notification-count {
  background-color: red;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: auto;
}

.sidebar.closed .notification-count {
  display: none;
}

/* Logout section at the bottom */
.logout-section {
  padding: 15px;
  display: flex;
  cursor: pointer;
  margin-top: auto; /* Push logout to the bottom */
  margin-bottom: 20px;
}

.logout-icon {
  font-size: 24px;
  transition: color 0.3s;
  display: block;
}

.logout-icon:hover {
  color: #4ed6ff;
  cursor: pointer;
}
