/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0C3A3A;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 90px;
  z-index: 1000;
}

.profileButton {
  background-color: #0C3A3A; 
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.profileButton:hover {
  background-color: #0C3A3A;
}

.headerLogo {
  display: flex;
  justify-content: center;
}

.TUTlogo {
  height: 50px;
}

.headerUser {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.userName {
  margin-left: 10px;
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
