.dashboardContainer {
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; /* Set width to crop the content */
  max-width: 900px; /* Maximum width */
  height: 55vh; /* Full height */
  margin: 0 auto; /* Center the container horizontally */
  top: 50%;
  left: 50%;
  text-align: center; /* Center text inside the container */
  margin-top: 100px;
}

/* Welcome Message */
.welcomeMessage {
  font-family: "Istok Web", sans-serif;
  font-size: 36px;
  color: #5c5c5c;
  margin-bottom: 30px;
  margin-right: 50px;
}

.dashboardCard {
  background-color: #0c3a3a;
  border-radius: 5px;
  width: 80%;
  max-width: 1200px;
  height: 175px;
  display: flex;
  align-items: start;
  padding: 20px;
  color: white;
  gap: 20px;
  transition: transform 0.3s ease;
  margin-top: 10px;
  margin-left: 50px;
  cursor: pointer;
}

/* Card hover effect */
.dashboardCard:hover {
  transform: translateY(-5px);
}

/* Card Icon */
.cardIcon {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icon styling */
.icon {
  font-size: 64px;
  color: white;
}

/* Card title */
.cardTitle {
  font-family: "Istok Web", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-align: left;
}

/* Card description */
.cardDescription {
  font-family: "Istok Web", sans-serif;
  font-size: 20px;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .dashboardContainer {
    margin-top: 170px;
  }
  .dashboardCard {
    flex-direction: column;
    height: auto;
    padding: 20px;
    gap: 15px;
    margin-top: 20px;
    margin-left: 40px;
  }

  .cardIcon {
    flex: none;
    font-size: 48px;
  }

  .icon {
    font-size: 48px;
  }

  .cardTitle {
    font-size: 28px;
  }

  .cardDescription {
    font-size: 18px;
  }

  .welcomeMessage {
    font-size: 28px;
  }
}

/* Tabs Section */.tabs {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid #0c3a3a;
    margin-bottom: 30px;
    color: #0c3a3a;
}

.tabs button {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #0c3a3a;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;
}

.tabs .tab.active {
  border-bottom: 3px solid #0c3a3a;
  /* Green line under active tab */
}

.tabs .tab:hover {
  color: #0c5a5a;
}
