/* Main content styles */
.dashboardContainer {
  padding: 20px;
  background-color: white;
  margin: 20px;
  margin-top: -10px;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.logsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.logsTitle {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 5px;
}

.logIssueButton {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 10px;
  background-color: white;
  padding-left: 20px;
  width: 200px;
}

.searchIcon {
  position: absolute;
  color: #6c757d;
  margin-left: 170px;
}

.filterSort {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
}

.filterButton,
.sortButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  color: #17a2b8;
}

.logsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 20px;
}

.logsTable th,
.logsTable td {
  padding: 15px;
  text-align: left;
}

.logsTable th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #6c757d;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.logsTable th:first-child {
  border-left: 1px solid #dee2e6;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.logsTable th:last-child {
  border-right: 1px solid #dee2e6;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.logsTable tr {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logsTable td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.logsTable td:first-child {
  border-left: 1px solid #dee2e6;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.logsTable td:last-child {
  border-right: 1px solid #dee2e6;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.statusPending {
  background-color: #f8f2de;
  color: #ffa007;
}

.statusOngoing {
  background-color: #cce5ff;
  color: #004085;
}

.statusResolved {
  background-color: #d4edda;
  color: #155724;
}

.statusEscalated {
  background-color: #ffdede;
  color: #f70000;
}

.statusOnhold {
  background-color: #dfe3e7;
  color: #8f9396;
}


.viewButton {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background: none;
  border: 1px solid #dee2e6;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #17a2b8;
  color: white;
  border-color: #17a2b8;
}

/* Back button styles */
.backButton {
  margin-bottom: 20px;
}

.iconButton {
  display: flex;
  align-items: center;
  background: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  padding: 8px 12px;
}

.iconButton svg {
  margin-right: 5px;
}

/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #1e3a5f;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #6c757d;
}

.formGroup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.applyButton,
.cancelButton {
  padding: 8px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.applyButton {
  background-color: #17a2b8;
  color: white;
}

.cancelButton {
  background-color: #6c757d;
  color: white;
}

.sortOptions {
  display: flex;
  flex-direction: column;
}

.sortOptions button {
  margin-bottom: 10px;
  padding: 8px 15px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
}

.sortOptions button:hover {
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  .filterSort {
    margin-left: 30px;
  }
}
/* DetailView styles */
