.dashboardContainer {
  padding: 20px;
  background-color: white;
  margin: 20px;
  margin-top: -10px;
  border-radius: 8px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.logsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logsTitle {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  align-items: center;
}

.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  padding-left: 20px;
  width: 200px;
}

.searchInput:focus {
  outline: none;
  border-color: #17a2b8;
  box-shadow: 0 0 4px rgba(23, 162, 184, 0.5);
}

.searchIcon {
  position: absolute;
  color: #6c757d;
  margin-left: 170px;
}

.filterSort {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
}

.filterButtonContainer,
.sortButtonContainer {
  position: relative;
}

.filterButton,
.sortButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  color: #17a2b8;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.filterButton:hover,
.sortButton:hover {
  color: #0d6efd;
  transform: scale(1.1);
}

.logsTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 20px;
}

.logsTable th,
.logsTable td {
  padding: 15px;
  text-align: left;
}

.logsTable th {
  background-color: #f8f9fa;
  font-weight: bold;
  color: #6c757d;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.logsTable th:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.logsTable th:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.logsTable tr {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logsTable td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.logsTable td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.logsTable td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.statusPending {
  background-color: #f8f2de;
  color: #ffa007;
}

.statusInprogress {
  background-color: #cce5ff;
  color: #004085;
}

.statusResolved {
  background-color: #d4edda;
  color: #155724;
}

.statusEscalated {
  background-color: #ffdede;
  color: #f70000;
}

.statusOnhold {
  background-color: #dfe3e7;
  color: #8f9396;
}


.viewButton {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.viewButton:hover {
  background-color: #0d6efd;
  transform: scale(1.1);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background: none;
  border: 1px solid #dee2e6;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button.active {
  background-color: #17a2b8;
  color: white;
  border-color: #17a2b8;
}

.pagination button:hover {
  background-color: #e9ecef;
  color: #495057;
}

.iconButton {
  display: flex;
  align-items: center;
  background: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  padding: 8px 12px;
}

.iconButton svg {
  margin-right: 5px;
}

/* Modal styles */
.modal {
  position: absolute;
  top: 100%;
  left: -40px;
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 200px;
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  color: #495057;
}

.filterOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filterOptions label {
  display: block;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  background-color: #f5f5f5;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.filterOptions label:hover {
  background-color: #e0e0e0;
}

.filterOptions input[type="radio"] {
  display: none;
}

.filterOptions input[type="radio"]:checked + label {
  background-color: #17a2b8;
  color: white;
  border-color: #0d6efd;
}

.sortModal {
  position: absolute;
  top: 100%;
  left: -110px;
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 200px;
}

.sortModal h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  color: #495057;
}
.sortOptions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sortOptions button {
  display: block;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  color: black;
  background-color: #f5f5f5;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.sortOptions button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.sortOptions button.activeSort, /* New style for active sort */
.sortOptions button.activeSort:hover {
  background-color: #17a2b8;
  color: white;
  border-color: #0d6efd;
}
@media (max-width: 768px) {
  .filterSort {
    margin-left: 30px;
  }
}