.mains-content {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}

.titles {
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-align: center;
}

.cards-container {
    float: left;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping the cards */
    justify-content: flex-start; /* Aligns cards to the left */
    max-width: 650px; /* Constrain width to prevent stretching */
}

.cards {
    width: 300px; /* Set a fixed width for each card */
    background: linear-gradient(#0B3434,#108484) ;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

.cards-content h2 {
    margin-bottom: px;
    color: white;
}
.cards-content p {
    color:white;
}

.cards-container2 {
    display: flex;
}

#card-priority, #card-urgent {
    height: 20vh;
    width: 100%;
}
.card-image {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Maintain aspect ratio by setting height */
}
.cards-container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Space between cards */
    margin-top: 60px; /* Add margin for spacing above the container */
    background-color: #EDF1F8;
    height: 600px;
    max-width: 50%;
    flex-direction: vertical;
}
.subtitle {
    font-size: 1.5rem; /* Adjust font size as needed */
    text-align: left; /* Align text to the left */
    color: #333; /* Change text color as needed */
}
.cards-content3 {
    
}
