.main-content {
    padding: 20px;
  }
  
  .top-container {
    margin-bottom: 20px;
  }
  
  .status-cards {
    display: flex;
    gap: 20px;
  }
  
  .card {
    background: #2a9d8f;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    flex: 1;
  }
  
  .card.completed {
    background: linear-gradient(135deg, #108484, #0C3A3A);
  }
  
  .card.in-progress {
    background: linear-gradient(135deg, #108484, #0C3A3A);
  }
  
  .card.on-hold {
    background: linear-gradient(135deg, #108484, #0C3A3A);
  }
  
  .card.pending {
    background: linear-gradient(135deg, #108484, #0C3A3A);
  }
  
  .card a {
    color: #fff;
    text-decoration: none;
  }
  
  .bottom-container {
    display: flex;
    gap: 20px;
  }
  
  .active-tasks, .my-reviews {
    flex: 1;
  }
  
  .task-cards {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 30px;
    background-color: #EDF1F8;
    padding: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .task-card p, h4 {
    color: #fff;
  }
  
  .task-card {
    background: #fff;
    padding: 15px;
    height: 220px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .task-card.high {
    background: linear-gradient(135deg, #108484, #0C3A3A);
  }
  
  .task-card.medium {
    background: linear-gradient(135deg, #108484, #0C3A3A);
  }
  
  .task-card.low {
    background: linear-gradient(135deg, #108484, #0C3A3A);
  }
  
  .my-reviews {
    background: #EDF1F8;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);margin-top: 2.5%;
  }
  
.review-box {
  background: linear-gradient(135deg, #108484, #0C3A3A);
  border-radius: 4px;
  padding: 50px;
  color: #fff;
}

  .rating {
    text-align: center;
  }
  
  .stars {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .rating-breakdown {
    margin-top: 20px;
  }
  
  .rating-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .rating-item span {
    width: 20px;
  }
  
  .bar {
    flex: 1;
    background: linear-gradient( #108484, #0C3A3A);
    margin: 0 10px;
    border-radius: 5px;
    height: 30px;
    margin: 8px;
  }
  
  .bar .filled {
    height: 100%;
    background: #2FB00F;
    border-radius: 5px;
  }